In [97]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [98]:
housePrices = pd.read_csv("Real estate.csv")
housePrices

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [99]:
Y = housePrices['Y house price of unit area']
Y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 414 entries, 0 to 413
Series name: Y house price of unit area
Non-Null Count  Dtype
--------------  -----
414 non-null    float64
dtypes: float64(1)
memory usage: 3.4 KB

In [100]:
predictors = list(housePrices.columns)
predictors
predictors.remove('No')
predictors.remove('Y house price of unit area')
X = housePrices[predictors]
X

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2012.917,19.5,306.59470,9,24.98034,121.53951
2,2013.583,13.3,561.98450,5,24.98746,121.54391
3,2013.500,13.3,561.98450,5,24.98746,121.54391
4,2012.833,5.0,390.56840,5,24.97937,121.54245
...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381
410,2012.667,5.6,90.45606,9,24.97433,121.54310
411,2013.250,18.8,390.96960,7,24.97923,121.53986
412,2013.000,8.1,104.81010,5,24.96674,121.54067
413,2013.500,6.5,90.45606,9,24.97433,121.54310

In [108]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,train_size = 0.4,random_state=123)


model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [109]:
model.score(X_test,Y_test)

0.6360270588641528

In [110]:
from sklearn.metrics import mean_absolute_error

y_pred = model.predict(X_test)

mean_absolute_error(Y_test,y_pred)

5.98237766674131